server:
  port: 8080
  forward-headers-strategy: native
  servlet:
    context-path: /api

jwt:
  secret: ${JWT_SECRET}
  access-expiration-ms: 900000                    # 15 minutes
  refresh-expiration-ms: 15552000000              # 180 days

spring:
  application:
    name: careerspark-api

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      # disable hibernate auto DDL to let flyway manage the schema
      ddl-auto: none
    show-sql: true
    open-in-view: false

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    template-path: ${MAIL_TEMPLATE_PATH}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    locations: classpath:db/migration
    baseline-version: 0

management:
  health:
    elasticsearch:
      enabled: false