server:
  port: 8080
  forward-headers-strategy: native

spring:
  application:
    name: careerspark-api

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      # disable hibernate auto DDL to let flyway manage the schema
      ddl-auto: none
    show-sql: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    locations: classpath:db/migration
    baseline-version: 0

management:
  health:
    elasticsearch:
      enabled: false