server:
  port: 8080
  forward-headers-strategy: native
  servlet:
    context-path: /api

app:
  frontend:
    url: ${FRONTEND_URL}

jwt:
  secret: ${JWT_SECRET}
  access-expiration-ms: 900000                    # 15 minutes
  refresh-expiration-ms: 15552000000              # 180 days

spring:
  application:
    name: careerspark-api

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      # disable hibernate auto DDL to let flyway manage the schema
      ddl-auto: none
    show-sql: true
    open-in-view: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    template-path: ${MAIL_TEMPLATE_PATH}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  flyway:
    locations: classpath:db/migration
    baseline-version: 0

management:
  health:
    elasticsearch:
      enabled: false